* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
  background-image: url();
  background-size: cover;
  height: 100vh;
  justify-content: center;
  text-align: center;
  /* background-image: linear-gradient(-60deg, #ffe8fd, #f5ecf4); */
}

.right {
  position: absolute;
  width: 360px;
  left: 60%;
  height: 580px;
  top: calc(50% - 580px / 2);
  background: #ffffff;
  border-radius: 25px;
  text-align: center;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 145px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #5754dd;
}

::placeholder {
  color: #85b6ff;
  font-size: 15px;
}

.icon {
  position: absolute;
  padding: 24px 32px;
  height: 75px;
  width: 90px;
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: -40px;
}

.gambar {
  padding-bottom: 10px;
  padding-top: -3px;
}

input[type="mail"],
input[type="password"] {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  color: #85b6ff;
  padding: 20px 10px 20px 5px;
  border: 2px solid#568aee;
  width: 280px;
  height: 45px;
  margin: 15px;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  height: 18px;
  width: 18px;
}

.keepme {
  margin: 15px;
  color: #71a1bd;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

button {
  width: 260px;
  height: 45px;
  left: 1273px;
  top: 780px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background: rgba(135, 113, 224, 0.89);
  border-radius: 25px;
}

button:hover {
  background-color: coral;
  color: #ffffff !important;
}

.link {
  text-align: center;
  display: block;
  margin: 18px;
  color: #71a1bd;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .contact-container {
    background: linear-gradient(138.56dbn eg #318adc 23.44%, #88183a 89.5%);
  }

  .center {
    center: calc(68% - 500px / 2);
  }
}
